@page
@model kiretfinalexam.Pages.Info.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Information.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Information.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Information.AName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Information.AName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Information.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Information.Book.BooksID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Information.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Information.Author.AuthorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Information?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
